<section class="contactos">
    <div class="flecha">
        <div>
        <img src="assets/img/flecha.png" alt="">
        </div>  
        <h4>DIRECCION</h4></div>
    <div>AV. AMAZONAS Y GUAYAQUIL, LATACUNGA, ECUADOR</div>
    
    <div class="carta">
        <div>
        <img src="assets/img/carta.png" alt="">
        </div>  
        <h4>EMAIL</h4></div>
    <div>emailejemplo@gmail.com</div>

    <div class="telefono">
        <div>
        <img src="assets/img/telefono.png" alt="">
        </div>  
        <h4>TELEFONO</h4></div>
    <div>+59396587467</div>
</section>