<section class="descripcion">
    
    <div>
        <img src="assets/img/carne_curada.jpg" alt="" id="carne">
    </div>
    <div>
        <h4>Cada vez más cerca de tí</h4>
        <h1>TUS CARNICOS AHUMADOS PREFERIDOS</h1>
        <p>Todo comenzó con técnicas rudimentarias, se descubrió que por medio de deshidratar, salar, endulzar y encurtir las proteínas, estas tenían una vida útil más larga en condiciones extremas.</p>
        <div class="boton_informacion">
          <button type="button" class="btn btn-outline-danger">MAS INFORMACIÓN</button>
        </div>
    </div>
</section>
