<header>
 
     
    <div>
      <h3>Más calidad en charcutería.</h3>
      <h1>CORTES FINOS PARA TU PALADAR</h1>
      <div class="boton_explorar">
          <button type="button" class="btn btn-outline-danger">EXPLORAR</button>
      </div>
    </div>
    
</header>
<hr>

